
.container {
	width: 50%;
	height: 100px;
	padding-top: 100px;
	margin: 0 auto;
display: flex;
justify-content: space-around;
gap: 10px;
}

.ball {
	width: 50px;
	height: 50px;
    font-size: 70%;
    font-weight: bold;
	color: #F0F0F2;
  background-color: #F2293A;
	border-radius: 50px;
	text-align: center;
	display: flex;
	align-self: center;
	align-items: center;
justify-content: center;
background: -webkit-radial-gradient(65% 15%, circle, #F0F0F2 1px, #F2293A 3%, #73272d 60%, #F2293A 100%); 
background: -moz-radial-gradient(65% 15%, circle, #F0F0F2 1px, #F2293A 3%, #73272d 60%, #F2293A 100%); 
background: -o-radial-gradient(65% 15%, circle, #F0F0F2 1px, #F2293A 3%, #73272d 60%, #F2293A 100%);
 background: radial-gradient(circle at 65% 15%, #F0F0F2 1px, #F2293A 3%, #73272d 60%, #F2293A 100%);       
}

.ball:nth-child(1) {
	
	-webkit-animation: up 1s infinite ease-in-out;
	-moz-animation: up 1s infinite ease-in-out;
	animation: up 1s infinite ease-in-out;
}

.ball:nth-child(2) {
	
	-webkit-animation: down 1.1s infinite ease-in-out;
	-moz-animation: down 1.1s infinite ease-in-out;
	animation: down 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
	
	-webkit-animation: up 1.05s infinite ease-in-out;
	-moz-animation: up 1.05s infinite ease-in-out;
	animation: up 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
	
	-webkit-animation: down 1.15s infinite ease-in-out;
	-moz-animation: down 1.15s infinite ease-in-out;
	animation: down 1.15s infinite ease-in-out;
}

.ball:nth-child(5) {
	
	-webkit-animation: up 1.1s infinite ease-in-out;
	-moz-animation: up 1.1s infinite ease-in-out;
	animation: up 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
	
	-webkit-animation: down 1.05s infinite ease-in-out;
	-moz-animation: down 1.05s infinite ease-in-out;
	animation: down 1.05s infinite ease-in-out;
}

.ball:nth-child(7) {
	
	-webkit-animation: up 1s infinite ease-in-out;
	-moz-animation: up 1s infinite ease-in-out;
	animation: up 1s infinite ease-in-out;
}

@-webkit-keyframes up {
	0% {
		-webkit-transform: translate(-15px);
	}
	50% {
		-webkit-transform: translate(15px);
	}
	100% {
		-webkit-transform: translate(-15px);
	}
}

@-webkit-keyframes down {
	0% {
		-webkit-transform: translate(15px);
	}
	50% {
		-webkit-transform: translate(-15px);
	}
	100% {
		-webkit-transform: translate(15px);
	}
}

@-moz-keyframes up {
	0% {
		-moz-transform: translate(-15px);
	}
	50% {
		-moz-transform: translate(15px);
	}
	100% {
		-moz-transform: translate(-15px);
	}
}

@-moz-keyframes down {
	0% {
		-moz-transform: translateY(15px);
	}
	50% {
		-moz-transform: translateY(-15px);
	}
	100% {
		-moz-transform: translateY(15px);
	}
}

@keyframes up {
	0% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(-15px);
	}
}

@keyframes down {
	0% {
		transform: translateY(15px);
	}
	50% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(15px);
	}
}